@import "src/assets/styles/templates";

.mainPage {
  max-height: 100%;

  header.label,
  .masonry,
  section.controlsBlock {
    // border: 2px solid red;
  }

  header.label {
    @extend %notSelectable;

    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    z-index: var(--main-page-label);

    transition: height .25s ease;

    .siteName {
      color: red;
      background: linear-gradient(90deg, #536976 0%, #292E49 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .masonry {
    width: 100%;

    .block {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      min-height: 1.5rem;

      &:not(:has(img)) {
        @extend %flexCenter;

        aspect-ratio: 16/9;
        cursor: unset;

        .overlayControls {
          display: none;
        }
      }

      &:hover {
        .overlayControls {
          transform: translateY(0);
          bottom: 0;
        }
      }

      .overlayControls {
        @extend %flexCenter;

        $height: 1.25rem;
        $fontSize: 1rem;

        position: absolute;
        bottom: -500%;
        left: 0;
        width: 100%;
        height: min($height, 50%);
        font-size: $fontSize;
        line-height: $fontSize;
        background: rgba(0 0 0 / .75);
        content: "";
        justify-content: space-between;
        padding: calc(($height - $fontSize) / 2);

        transition: bottom .5s ease, transform .4s ease;
        transition-delay: .15s;

        .group {
          height: 100%;
        }

        svg {
          height: 100%;

          &.download {
            transition: fill .15s ease;

            &:hover {
              path {
                fill: white;
              }
            }

            path {
              fill: #b6b4b4;
            }
          }
        }
      }
    }
  }

  footer.controlsBlock {
    // background: rgba(255 0 0 / .25);
    padding: 1rem;
    border-top: 1px solid #3B82F6;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: var(--main-page-controls);
    background: white;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}
