.sizes {
  // Sizes
  --ui-container-max-width: 400px;

  // Z-indexes
  --main-page-ad-warn: 39000;
  --main-page-label: 40000;
  --main-page-controls: 41000;

  --gallery-overlay: 59450;
  --help-overlay: 59451;

  --message-manager: 59460;
  --loading-overlay: 59500;
  --splash-screen: 60000;
}
