%scrollable {
  $background: white;
  $track: #536976;
  $width: 0;
  // $width: .6rem;

  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: $background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $track;
    border-radius: $width * 1.7;
    border: calc($width / 4) solid $background;
  }
}
